.de_img{
	width: 100%;
	height: 100rem;
}
.ileft{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.moxiangqing{
	display: flex;
	flex-direction: column;
}
.moxidec{
	height: 2rem;
}
.modeltitle{
	padding:0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modeltitle .modeltitledec{
	width: 90%;
	font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #232326;
}
.modeltitlelik{
	display: flex;
	flex-direction: column;
}
.modeltitled{
	padding:0rem 1rem;
}
.cart-concern-btm-fixed{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
}
.concern-cart{
	width: 50%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #d2d2d2;
}
.action-list{
	width: 50%;
	background-color: #0f0;
	display: flex;
	flex-direction: row;
	color: #fff;
}
.add_cart{
	text-align: center;
	line-height: 4rem;
	width: 50%;
	height: 4rem;
	background-color: #ffb03f;
}
.directorder{
	text-align: center;
	line-height: 4rem;
	width: 50%;
	height: 4rem;
	background-color: #f23030;
}
.dong-icn{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.3%;
	padding-top: 0.5rem;
}
.mldelprice{
	
	color: #f23030;
}
.mldelprice span{
	font-size: 2rem;
	line-height:2rem;
	color: #f23030;
    font-weight: 700;
}
.normalPrice{
	padding:0.5rem 1rem 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.depre{
	border: 1px solid #bfbfbf;
    color: #686868;
    font-size: 1rem;
    line-height: 2rem;
    padding:0rem 0.5rem;
    border-radius: 0.5rem;
}
.input-box{
	width: 10rem;
    height: 4rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #686868;
    border: 1px solid #dbdbdb;
    width: 18rem;
    height: 3rem;
    margin-top: 0.5rem;
}
.depreciate-inform-title{
	text-align: center;
	font-size: 1.4rem;
    color: #686868;
}
.depreciate-inform-title2{
	text-align: center;
    font-size: 1rem;
    color: #848689;
    padding:1.2rem 0;
}
.baitiao{
	margin-top: 0.9rem;
	padding-left: 0.9rem;
}
.whiteBarInfo{
	padding: 1.2rem 0;
	border-bottom: 1px solid #e3e5e9;
}
.prod-whitebar-txt{
	color: #252525;
}
.prod-promotion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}
.label-text{
	border: 1px solid #f23030;
    border-radius: 3px;
    padding: 2px 2px;
    font-size: 10px;
    color: #f23030;
    line-height: 10px;
    height: 14px;
    margin-right: 5px;
}
.arrow-fold{
	width: 80%;
}
.am-modal-close{
	padding: 1rem
}
.prod{
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.pdl2{
		padding-left: 2rem;
}
.prod-spec{
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}
.am-tabs-default-bar-top .am-tabs-default-bar-content{
	position: fixed;
	background-color: #fff;
}
.am-tabs-content-wrap{
	margin-top: 3.7rem;
}
.shop-row1{
	display: flex;
	flex-direction: row;
}
.shop-row1 img{
	width: 80px;
    height: 26px;
}
.shop-name{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 20rem;
	margin-left: 1rem;
}
.sn-title{
	font-size: 14px;
    color: #222;
}
.ziying{
	color: #fff;
	padding: 0px 2px;
    font-size: 10px;
    background-color: #f23030;
    margin-left: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
.shop-tab{
	padding-top: 0.8rem;
	display: flex;
	flex-direction: row;
}
.tabs{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex:1;
}
.s-r{
	display: flex;
	flex-direction: column;
}
.num{
	color: #333;
	font-size: 1.4rem;
}
.shop-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.8rem;
	height: 3rem;
	line-height: 3rem;
}
.shop-footer .shop-btn{
	border-radius: 5px;
    border: 1px solid #d7d7d7;
    width: 48%;
    text-align: center;

}
.ssd-module-wrap{
	width: 100%;
}
.spec-menu{
	height: 39rem;
}
.spec-menu-top{
	width: 100%;
	height: 7rem;
	position: relative;
	border: 1px solid #f0f1f3;
}
.spec-first-pic{
	border: 1px solid #ccc;
	position: absolute;
	left: 0.7rem;
    top: -2.2rem;
    border-radius: 3px;
}
.spec-first-pic img{
	width: 8.33rem;
	height: 8.33rem;
}
.am-modal-body{
	overflow: visible;
}
.am-modal-content{
	overflow: visible;
}
.spec-price{
	padding-top: 3rem;
    padding-left: 10.1rem;
}
.spec-price{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.spec-weight{
	font-size: 0.9rem;
}
.yang-pic{
	color: #f23030;
	font-size: 1.2rem;
}
.spec-menu-cen{
	padding-left: 0.84rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}
.nature-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 1.5rem;
}
.nc-ite{
	margin-left: 1rem;
}
.a-item{
	height: 2.25rem;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    line-height: 2.1rem;
    font-size: 1rem;
    color: #232326;
    float: left;
    margin-right: 0.84rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}
.flick-menu-btn{
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.yellow-cart{
	width: 50%;
	height: 43px;
	font-size: 15px;
    line-height: 43px;
    text-align: center;
    background-color: #ffb03f;
}
.red-directordert{
	width: 50%;
	height: 43px;
	font-size: 15px;
    line-height: 43px;
    text-align: center;
    background-color: #f23030;
}
.quantity-wrapper{
	height: 26px;
    border-radius: 5px;
    margin-left: 8px;
    border: 1px solid #aaa;
    width: 7.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1rem;
}
.quantity-wrapper input{
	width: 3rem;
	height: 1.9rem;
	border: 1px solid #ccc;
	text-align: center;
}
.quantity-wrapper a{
	color: #aaa;
}
.addCartNum{
	display: flex;
	flex-direction: row;
}