.box-hd{
	padding: 0px 14px;
	height: 58px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.box-hd h2{
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.more a{
	width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
}
.control-prev{
	    color: #b0b0b0;
}
.control-next{
	color: #e0e0e0;
}
.head_title{
	float: left;
	margin: 0 0 0 30px;
	font-size: 16px;
}