<ul class="u1">					
						<li class="shou"><a href="/admin">首页</a></li>
						<li class="huati"><a href="/admin/yonghu">用户管理</a></li>
						<li class="jiangcheng"><a href="/admin/shangpin">商品管理</a></li>
						<li class="geren"><a href="/admin/xiangqing">商品详情</a></li>
						<li class="gonggong"><a href="/admin/lunbo">轮播图管理</a></li>
						<li class="wendang"><a href="/admin/gouwuche">购车管理管理</a></li>
					
</ul>